body{
    background-color: #ffffff;
}
/* .top-nav{

 word-spacing: 40px;
font-family: 'Courgette', cursive;
    font-style: normal;
    font-size: 25px;
    color:white
} */
.top-nav{
    font-size: 25px;
    font-family: 'Courgette', cursive;
    padding: 0px;
      min-height: 380px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
.top-nav #top-nav-search{
    width:300px;
    padding: 10px;
}
.top-nav #search-button{
   
    color:grey;

}
.navbar{
    border-radius: 0mm;
  
    height:70px;
    
    background-color:rgb(4,48,68); 
}
.navbar-brand{
    right:500px;
   font-family: 'Courgette', cursive;
    font-size:33px;
    color:black;
}
 .heading-image img{
    position: absolute;
    left:0px;
    top:69px;
    
    
}
.heading{
    
    font-style: normal;
    font-weight: 800;
    color:whitesmoke;
    font-size:65px;
    
}
.trending-cocktail
{
    font-family: 'Courgette', cursive;
}
.heading1
{
    font-family: 'Courgette', cursive;
}

.trending{
    
    margin-left:-30px;
    
}
.trending img{
    width:460px;
    height:340px;

}
.heading2
{
    color:black;
    z-index: -1;
}
.heading1
{
font-family: 'Dancing Script', cursive;
text-align: center;
color:black;
font-size: 65px;
}
.cocktail-ingredient{
    border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1.5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cocktails p{
    font-size:22px;
    word-break: break-all;
    border:1px
     solid white;
}
.cocktails .col-sm-6
{
    margin-top:10px;
    margin-bottom: 10px;
}

.explore1 .col-sm-4
{
    
    margin-top:8px;
    margin-bottom: 10px;
    
   
}
.explore1 h5{
 text-align: center;
}
.search-button
{
    
    text-align: center;
}
button
{
    background-color:rgb(4, 48, 68);
    color:white;
    border-radius: 10px;
   font-family: 'Courgette', cursive;
    font-size: medium;
    position: absolute;
right: 40%;
    height: 50px;
    width:270px;
}
.footer
{
    background-color: rgb(4, 48, 68);
    color:white;
}
.footer-main
{
    border-top:1px solid rgba(208,208,208,.5);
    padding:2.5rem 0;
    

}
.row1
{
    max-width:60rem;
    margin-right:20%;
    margin-left:30%;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow:normal;
   font-family: 'Courgette', cursive;
}
.small-12{
    max-width:90%;
}
.menu
{
    list-style-type: none;
}
.heading2{
    font-size:40px;
   font-family: 'Courgette', cursive;
}
.recepie-box
{
 /*   border:1px solid rgb(6, 110, 158);
    border-width: 2px;
    border-radius: 6px;*/
    
    padding-left:70px;
}
.navbar-form
{
    margin-left:40%;

}
.navbar-form input
{
    width:120px;
}

.btn{
    width:50px;
    height:34px;
    align-content:center
    
}
.signup_form
{
    font-size:20px;
   font-family: 'Courgette', cursive;
    margin-left:100px;
    align-content: center;
    color:rgb(4,48,68);
}
.signup_form input
{
    border-radius: 6px;
  
}
.content
{
    position:fixed;
    bottom:0;
    background:rgba(0,0,0,0.5);
    color:#f1f1f1;
    width:100%;
    padding:200px;
    
}
.login_form
{
    font-weight: bolder;
    font-size:25px;
   font-family: 'Courgette', cursive;
    align-content: center;
    color:rgb(37, 175, 235);
}
.login_form input{
    border-radius:6px;
}
.content h1{
   font-family: 'Courgette', cursive;
    text-align: center;
    font-size: 50px;
}
.content button{
    align-content: center;
    width:150px;
}
.beerMargarita_recepie
{
   font-family: 'Courgette', cursive;

    font-size: 20px;
}
.beerMargarita_recepie h1
{
   font-family: 'Courgette', cursive;
color:rgb(4, 48, 68);
font-weight: bold;
}
.Browse-drinks
{
   font-family: 'Courgette', cursive;
    text-align: center;
    font-weight: bold;
}
#Browse-heading
{
    text-align:center;
}
#A_drinks
{
    font-weight: bolder;
    font-size: 30px;
}
